/* Reset Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
}

.header {
    background: linear-gradient(to right, #f857a6, #ff5858);
    color: white;
    padding: 20px;
}

.top-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}
.name_sea{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* font-size: 14px; */
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 900;
    padding-left: 120px;
    color:	#ff0404;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.order-btn {
    background-color: #ff4081;
    border: none;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
}

.hero {
    position: relative;
    text-align: center;
}

.hero-image {
    width: 100%;
    height: auto;
    opacity: 0.8;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(66, 53, 53);
font-size: 1rem;
}

.hero-buttons button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #ff4081;
    color: white;
    cursor: pointer;
}

.features {
    display: flex;
    justify-content: space-around;
    padding: 50px;
    background-color: #fff;
}

.feature-item {
    text-align: center;
    width: 30%;
}

.feature-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.about {
    text-align: center;
    padding: 50px;
    background-color: #fff;
}

.about-image {
    width: 50%;
    height: auto;
    margin: 20px 0;
}

.services {
    text-align: center;
    padding: 50px;
}

.service-items {
    display: flex;
    justify-content: space-around;
}

.service-item {
    text-align: center;
    width: 30%;
}

.service-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .features, .service-items {
        flex-direction: column;
        align-items: center;
    }

    .feature-item, .service-item {
        width: 80%;
        margin-bottom: 20px;
    }

    .about-image {
        width: 100%;
    }
}
